.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-bottom :125px;
  margin-bottom: 60px;
  bottom: 0px;
  left: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.profileModal{
  display: none;
}

.emojiModal{
  display: none;
}

.registerModal{
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

.dowlandIcon{
  position: absolute;
  right: 0;
}